<script setup lang="ts"></script>
<script setup lang="ts">
import PersonView from "./views/PersonView.vue";
</script>

<template>
  <div></div>
  <PersonView></PersonView>
</template>

<style scoped></style>
